<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .controls {
            display: inline-block;
        }
    </style>
    <script src="./fabric.js"></script>
</head>
<body>
    <div class="controls">
        <p>
          <button id="edit" onclick="Edit()">Toggle editing polygon</button>
        </p>
      </div>
      <canvas id="c" width="500" height="400" style="border:1px solid #ccc"></canvas>
</body>
<script src="./polygonPoint.js"></script>
</html>