<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .GOMA {
            padding-bottom: 90px !important;
        }
        #app {
            margin: 10px auto;
        }
        #wrap{
            margin: 0 auto;
        }
        #clip{
            margin: 0 auto;
            /* background-image:url(tb.png);background-size:10%; */
        }
    </style>
    <script src="./airgalss.js"></script>
</head>
<body>
    <div id="app">
        <div id="wrap"></div>
        <div id="clip"></div>
    </div>
</body>
<script src="./index.js"></script>
</html>